<!-- 7 day forecast -->
<section>
  <div class="flex flex-wrap gap-2">
    <% 7.times do %>
      <div class="min-w-10 bg-slate-500 rounded-2xl p-2 flex flex-col align-middle items-center">
        <h3 class="w-full text-center font-semibold text-md">Mon</h3>
        <h3 class="w-full text-center font-semibold text-md">Mar 18</h3>
        <h3 class="w-full text-center font-semibold text-md">H: 18</h3>
        <h3 class="w-full text-center font-semibold text-md">L: 18</h3>
      </div>
    <% end %>
  </div>
</section>
