<!-- Location -->
<div class="flex flex-col align-middle items-centers space-y-1">
  <h1 class="flex-1 text-center font-bold text-3xl">Saratoga Springs, UT</h1>
  <h3 class="flex-1 text-center font-bold text-xl">Today, 28 March</h3>
</div>
