<div class="w-screen mx-auto flex flex-col items-center align-middle gap-4 my-12">
  <% if @address %>
    <%= render "location" %>
    <%= render "weather" %>
    <%= render "forecast" %>
  <% else %>
    <%= render "form" %>
  <% end %>
</div>
